<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210091133978-itjvlv1o9lpcn8mknpcgse09qdtpqob6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210091133978-itjvlv1o9lpcn8mknpcgse09qdtpqob6</string>
	<key>API_KEY</key>
	<string>AIzaSyBiIcy2_XeU0zViF96RRM0xvvmCflz29hk</string>
	<key>GCM_SENDER_ID</key>
	<string>210091133978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inersya.eventell</string>
	<key>PROJECT_ID</key>
	<string>eventell</string>
	<key>STORAGE_BUCKET</key>
	<string>eventell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210091133978:ios:fb1531e9a3e00a3b</string>
	<key>DATABASE_URL</key>
	<string>https://eventell.firebaseio.com</string>
</dict>
</plist>